<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Echte Daten statt Dokumentation</h2>
                <hr class="light">
                <p class="text-faded">
                    <b>Industrie 4.0</b> ist das aktuelle Leitthema vieler Unternehmen. Die Möglichkeiten der Digitalisierung werden hier oft als Smart Factory oder Internet der Dinge abgekürzt.<br>
                    <b>Physische Waren</b>  können, im Gegenteil zu digitalen Gütern, nicht von Entstehung bis zur Verwertung einwandfrei nachverfolgt werden. Daher stellen Unternehmen heutzutage zumeist komplizierte Modelle auf, um abzuschätzen wo und in welchem Zustand sich Produkte gerade befinden. Gerade wenn Menschen in der realen Welt involviert sind oder etwas Unvorhergesehenes eintritt stimmen diese Modelle allerdings nicht mehr. <br>
                    Mit <b>Messdaten in Echtzeit</b>  können Unternehmen ein virtuelles Abbild des Warenkreislaufs erzeugen und dadurch viel Geld sparen, durch effizientere Arbeitsprozesse und bessere Produktqualität. <br>
                    Daher haben wir <b>Blik</b>  geschaffen. Blik misst zu jeder Zeit, mit günstigen uns robusten Sensoren, am realen Lagerort. Die erhobenen Daten werden in Echtzeit verarbeitet und bereitgestellt. Somit ist keine zusätzliche Dokumentation und händische Überprüfung mehr nötig. Wo Blik eingesetzt wird herrscht völlige Transparenz bezüglich aller Einsatzfaktoren. <br>
                    Aufgrund seiner Architektur kann Blik schnell und einfach in bestehende <b>Systeme</b> integriert werden, ohne komplexe und langwierige Installation. Da Blik beliebig skalierbar ist, kann es in kleinen Warenlagern und in kompletten Warenketten eingesetzt werden - ohne zusätzlichen Aufwand! Sogar über verschiedene bestehende IT-Systeme lässt sich Blik problemlos integrieren und so für Vorhersagen und Predicive Analytics verwenden. <br> 
                    Die <b>Anwendungsbereiche</b> von Blik sind weitreichend. In der Intralogistik können Lager optimiert und Fehlbestände reduziert werden. In der Produktion können Prozessfehler aufgedeckt und sofort behoben werden. Lebensmittel und kritische Güter können bis zum Kunden verfolgt und auf ihre Unversehrtheit geprüft werden. Fahrzeugflotten können optimiert und Wege reduziert werden. Viele weitere Möglichkeiten des Einsatzes entwickelt unser motiviertes Team beinahe täglich. <br>
                </p>
                <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Vorteile</a>
            </div>
        </div>
    </div>
</section>
