<section id="footer" style="padding: 16px" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 text-left">
                <p>{{ site.copyright }} <a href="{{ site.imprint }}">Impressum</a></p>
            </div>
            <div class="col-lg-4 text-right">
                <a href="#page-top" class="page-scroll"><i class="fa fa-chevron-up fa-1x"></i> Zum Anfang</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>Sie haben einen Fehler mit dieser Seite gefunden? <a href="mailto:{{ site.email }}?subject=Problem mit der Webseite">Bitte melden Sie es uns!</a></p>
            </div>
        </div>
    </div>
</section>