<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading">Logistik-Prozesse in Echtzeit nachverfolgen</h1>
            <hr>
            <p>Blik ermöglicht Prozessoptimierung in Echtzeit durch Live Daten in der Logistik. Dazu kombiniert Blik robuste Sensoren mit einem smarten Datenbackend um eine einmalige Lösung zu schaffen. Das Produkt setzt neue Maßstäbe in der Warenverfolgung.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Wie Blik funktioniert</a>
        </div>
    </div>
</header>