<section class="bg-primary" id="imprint">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Impressum</h2>
                <hr class="light">
                <p>Angaben gem. § 5 TMG<br>
                    Brüß, Burger, Clemente, Eller, Gehlen GbR<br>
                    Konrad-Zuse-Platz 8-9<br>
                    bei ABC Ventures Gates<br>
                    81829 München<br>
                    Deutschland<br>
                    E-Mail: <a style="color:#FFF2F2" href="mailto:{{ site.email }}" target="_blank">{{ site.email }}</a><br>
                </p>
            </div>
        </div>
    </div>
</section>