<section id="legal">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Disclaimer</h2>
                <hr class="primary">
                <h4>Haftungsbeschränkung</h4>
                <p>Die Inhalte unserer Seiten wurden mit größter Sorgfalt und nach bestem Wissen und Gewissen zusammengestellt. Dennoch übernimmt der Autor keinerlei Gewähr für die Aktualität, Korrektheit, Vollständigkeit oder Qualität der bereitgestellten Informationen. Haftungsansprüche gegen den Autor, welche sich auf Schäden materieller oder ideeller Art beziehen, die durch die Nutzung oder Nichtnutzung der dargebotenen Informationen bzw. durch die Nutzung fehlerhafter und unvollständiger Informationen verursacht wurden, sind grundsätzlich ausgeschlossen, sofern seitens des Autors kein nachweislich vorsätzliches oder grob fahrlässiges Verschulden vorliegt. Alle Angebote sind freibleibend und unverbindlich. Der Autor behält es sich ausdrücklich vor, Teile der Seiten oder das gesamte Angebot ohne gesonderte Ankündigung zu verändern, zu ergänzen, zu löschen oder die Veröffentlichung zeitweise oder endgültig einzustellen.</p>
                <h4>Verweise und Links</h4>
                <p>Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich. Alle innerhalb des Internetangebotes genannten und ggf. durch Dritte geschützten Marken- und Warenzeichen unterliegen uneingeschränkt den Bestimmungen des jeweils gültigen Kennzeichenrechts und den Besitzrechten der jeweiligen eingetragenen Eigentümer. Allein aufgrund der bloßen Nennung ist nicht der Schluss zu ziehen, dass Markenzeichen nicht durch Rechte Dritter geschützt sind.</p>
                <h4>Urheberrechte</h4>
                <p>Die Inhalte dieser Webseite unterliegen dem Urheberrecht und dürfen nicht ohne vorherige schriftliche Zustimmung von Blik weder als Ganzes noch in Teilen verbreitet, verändert oder kopiert werden. Die Bilder auf dieser Webseite sind von <a href="http://www.pexels.com">Pexels</a>. Einge der Icons wurden erstellt durch Madebyoliver von Flaticon.</p>
                <h4>Streitbeilegung</h4>
                <p>Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) gemäß Art. 14 Abs. 1 ODR-VO bereit, die Sie <a href="http://ec.europa.eu/consumers/odr/" target="_blank">hier</a> finden.</p>
                <a href="/" class="btn btn-primary btn-xl page-scroll">Zurück zur Hauptseite</a>
            </div>
        </div>
    </div>
</section>