<section class="no-padding" id="portfolio">
    <div class="container-fluid">
            <div class="row no-gutter popup-gallery">
                <div class="col-lg-4 col-sm-6">
                    <a href="img/portfolio/fullsize/food.jpg" class="portfolio-box">
                        <img src="img/portfolio/thumbnails/food.jpg" class="img-responsive" alt="food and cold chain">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Lebensmittel
                                </div>
                                <div class="project-name">
                                    Garantie für Frische
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="img/portfolio/fullsize/klt.jpg" class="portfolio-box">
                        <img src="img/portfolio/thumbnails/klt.jpg" class="img-responsive" alt="euro container">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Kleinteilbehälter
                                </div>
                                <div class="project-name">
                                    Nie mehr vor leeren Regalen
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="img/portfolio/fullsize/production.jpg" class="portfolio-box">
                        <img src="img/portfolio/thumbnails/production.jpg" class="img-responsive" alt="production">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Produktion
                                </div>
                                <div class="project-name">
                                    Produktionsprozess begleiten
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="img/portfolio/fullsize/facility.jpg" class="portfolio-box">
                        <img src="img/portfolio/thumbnails/facility.jpg" class="img-responsive" alt="facility management">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Gebäudemanagement
                                </div>
                                <div class="project-name">
                                    Verbrauch und Bestand vorhersehen
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="img/portfolio/fullsize/fleet.jpg" class="portfolio-box">
                        <img src="img/portfolio/thumbnails/fleet.jpg" class="img-responsive" alt="fleet management">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Flottenmanagement
                                </div>
                                <div class="project-name">
                                    Ideale Fahrzyklen berechnen
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="img/portfolio/fullsize/other.jpg" class="portfolio-box">
                        <img src="img/portfolio/thumbnails/other.jpg" class="img-responsive" alt="further applications">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Viele weitere...
                                </div>
                                <div class="project-name">
                                    Auch Ihre Industrie
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
</section>
