<section id="references">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Was andere über uns sagen</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <!-- <div class="row">
            <div class="col-lg-2 col-lg-offset-2 text-center">
                <img src="img/quotes/springlane.png" alt="Springlane" class="img-responsive">
            </div>
            <div class="col-sm-6">
                <p class="text-left">"Für unsere Logistik ist Blik sehr interessant."</p>
                <p class="text-right"><i>- Anna Kavun, Springlane</i></p>
        </div>
        <div class="row">
            <div class="col-lg-2 col-lg-offset-2 text-center">
                <img src="img/quotes/siemens.png" alt="Siemens" class="img-responsive">
            </div>
            <div class="col-sm-6">
                <p class="text-left">"Blik ist ein potentieller Game-Changer in der Logistik, der Produktion aber auch so vielen anderen Industrien."</p>
                <p class="text-right"><i>- Manuel Heckmann, Siemens</i></p>
        </div>
        <div class="row">
            <div class="col-lg-2 col-lg-offset-2 text-center">
                <img src="img/quotes/kaufland.png" alt="Kaufland" class="img-responsive">
            </div>
            <div class="col-sm-6">
                <p class="text-left">"Genau das, wonach wir suchen."</p>
                <p class="text-right"><i>- Erik Müller, Schwarz Gruppe</i></p>
        </div> -->
        <div class="row">
            <div class="col-lg-2 col-lg-offset-2 text-center">
                <img src="img/quotes/abc.png" alt="ABC Venture Gates" class="img-responsive">
            </div>
            <div class="col-sm-6">
                <p class="text-left">"Großartige Technologie und hervorragender Nutzen."</p>
                <p class="text-right"><i>- Luka Planinc, ABC Venture Gates</i></p>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Unser Netzwerk</h2>
                <hr class="primary">
                <p>Wir sind sehr stolz darauf von einigen der wichtigsten Netzerke Deutschlands unterstützt zu werden.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-lg-offset-2 text-center">
                <img src="img/quotes/academyconsult.png" alt="Academy Consult" class="img-responsive">
            </div>
            <div class="col-lg-2 text-center">
                <img src="img/quotes/cdtm.png" alt="CDTM" class="img-responsive">
            </div>
            <div class="col-lg-2 text-center">
                <img src="img/quotes/makerspace.png" alt="MakerSpace" class="img-responsive">
            </div>
            <div class="col-lg-2 text-center">
                <img src="img/quotes/unternehmertum.png" alt="UnternehmerTUM" claimg-responsive">
            </div>
        </div>
    </div>
</section>