<section class="bg-primary" id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Wir brennen für neue Technologien</h2>
                <hr class="light">
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <img src="img/team.jpg" class="img-responsive sr-contact" alt="Teamfoto">
            </div>
            <div class="col-lg-4 text-center">
                <p class="text-faded">
                   Um die Vorteile von Echtzeitdaten an die Kunden zu bringen schlossen wir uns als Team aus ehemaligen Beratern und Wissenschaftlern zu Blik zusammen. Mit unserer mehrjährigen Industrieerfahrung und einem starken Netzwerk lösen wir Probleme aus Logistik und Produktion mit aktuellster Technologie. Unsere Team-Mitglieder verfügen über einen starken technischen Hintergrund, haben unter anderem in München, London und Stanford studiert. Unser junges Unternehmen wird von vielen Seiten unterstützt, etwa vom CDTM, Academy Consult, oder der UnternehmerTUM. Unsere Partner setzten sich unter anderem aus hiesigen und Amerikanischen Venture Capital Unternehmen zusammen.<br>
                    <br>
                    Für unser junges und dynamisches Team suchen wir stetig nach tatkräftiger Unterstützung um unser Wachstum zu bewältigen. Melde dich gerne initiativ bei uns!
                </p>
            </div>
        </div>
    </div>
</section>